#about-form, #background-form, #project-form, #skill-form {
    font-family: sans-serif;
    color: white;
}

.title {
    display: block;
    font-size: 25px;
    font-weight: bold;
    line-height: 1.2;
    text-align: center;
}

a.close {
    position: absolute;
    top: 1rem;
    right: 1.2rem;
    font-size: 2rem;
}

.input-wrp {
    width: 100%;
    position: relative;
    border-bottom: 1px solid white;
}

.form-label {
    font-size: 0.6em;
    line-height: 1.5;
}

input,
input:focus {
    outline: none;
    border: none;
    color-scheme: dark;
}

input::-webkit-calendar-picker-indicator {
    position: absolute;
    bottom: 0.4em;
    right: 0.5em;
    font-size: small;
}

input[list="institutions"]::-webkit-calendar-picker-indicator {
    font-size: medium;
    opacity: 1;
}

input::-webkit-input-placeholder,
input:-moz-placeholder,
input::-moz-placeholder,
input:-ms-input-placeholder {
    color: var(--light-gray-color);
}

textarea {
    resize: none;
}

.form-control {
    font-size: 10px;

    background: none;
}

.form-control.is-invalid {
    padding-right: calc(1.5em + .75rem);
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 12 12' width='12' height='12' fill='none' stroke='%23dc3545'%3e%3ccircle cx='6' cy='6' r='4.5'/%3e%3cpath stroke-linejoin='round' d='M5.8 3.6h.4L6 6.5z'/%3e%3ccircle cx='6' cy='8.2' r='.6' fill='%23dc3545' stroke='none'/%3e%3c/svg%3e");
    background-repeat: no-repeat;
    background-position: right calc(.375em + 1.5rem) center;
    background-size: calc(.75em + .375rem) calc(.75em + .375rem);
}

input[type="text"].form-control.is-invalid, textarea.form-control.is-invalid {
    background-position: right calc(.375em + .1875rem) center;
}

#img-input {
    padding-right: calc(1.5em + .75rem);
}

.file-input {
    color: var(--light-gray-color);
    position: absolute;
    height: calc(100% - 25px);
    bottom: 0;
    right: 0;
    padding-right: 6.25px;
    padding-top: 6.25px;
    pointer-events: auto;
    cursor: pointer;
}

.input-dec {
    position: absolute;
    display: block;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    pointer-events: none;
}

.input-dec::before {
    content: "";
    display: block;
    position: absolute;
    bottom: -1px;
    left: 0;
    width: 0;
    height: 2px;
    background: var(--main-accent-color);
    transition: all 0.4s;
}

.form-control:focus+.input-dec::before, .form-control:not(.form-control.is-empty)+.input-dec::before {
    width: 100%;
}

.input-val {
    font-weight: bold;
    font-size: 0.7em;
    position: absolute;
    top: 6em;
}

select {
    border: none;
}

option {
    color: black;
}

.textarea-wrp {
    width: 100%;
    position: relative;
}

.textarea-val {
    font-family: sans-serif;
    font-weight: bold;
    font-size: 0.7em;
    position: absolute;
    top: 13em;
}

.button-wrp {
    width: 100%;
    display: block;
    position: relative;
    z-index: 1;
    border-radius: 25px;
    overflow: hidden;
    margin: 0 auto;
}

button,
button:focus,
.guest-btn {
    font-family: sans-serif;
    font-weight: 500;
    font-size: 12px;
    color: #fff;
    background-color: var(--main-accent-color);
    line-height: 1.2;
    text-transform: uppercase;

    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 20px;
    width: 100%;
    height: 30px;
    border: none;
}

button:disabled {
    background-color: var(--light-gray-color);
}

button:hover,
.guest-btn:hover {
    background-color: #8e0b57;
}

a {
    color: white
}
