<div class="skill-card d-flex align-items-center">
    <div class="skill-logo">
        <img src="{{skillImg}}" alt="">
    </div>
    <div class="skill-description">
        <p>{{data.name}}</p>
        <div class="progress">
            <div
                role="progressbar"
                aria-valuemax="1"
                attr.aria-valuenow="{{data.lvl}}"
                class="progress-bar progress-bar-striped"
                [ngStyle]="progressLvl"
            ></div>
        </div>
        <a *ngIf="isAdmin" type="button" class="cross" (click)="deleteSkill(data.id!)">
            <span class="fa-solid fa-xmark"></span>
        </a>
        <a *ngIf="isAdmin" type="button" class="pen" (click)="openForm()">
            <span class="fa-solid fa-pen-to-square"></span>
        </a>
    </div>
</div>