.skill-card {
    position: relative;
    background-color: var(--light-gray-color);
    height: 75px;
    margin-bottom: 1rem;
    box-sizing: border-box;
    border: 1px solid black;
}

.skill-logo {
    padding: 12.5px;
    border-right: 1px solid black;
}

.skill-description {
    width: 100%;
    padding: 0px 12.5px 8px 12.5px;
}

.skill-description * {
    margin: 0 12.5px;
}

.skill-description .progress-bar {
    background-color: var(--main-accent-color);
    margin: 0px;
}

a {
    color: black;
    text-decoration: none;
}

.skill-description .pen {
    position: absolute;
    top: 0;
    right: 0;
    margin: 0.3em 0em;
    padding: 0;
    border: 0;
}

.skill-description .cross {
    position: absolute;
    top: 0;
    right: 5.5em;
    margin: 0.3em 0em;
    padding: 0;
    border: 0;
}