.skill-card {
    position: relative;
    height: 75px;
    margin-bottom: 1rem;
    box-shadow: 0 4px 21px -12px rgba(0, 0, 0, 0.66);
    border-radius: 10px;
    overflow: hidden;
    background-color: #18151f;
    color: white;
}

.skill-description {
    width: 100%;
    padding: 0px 12.5px 8px 12.5px;
    position: relative;
}

.skill-description * {
    margin: 0 12.5px;
}

.progress {
    height: 0.5em;
}

.skill-description .progress-bar {
    background-color: var(--main-accent-color);
    margin: 0px;
}

.tagbox {
    position: absolute;
    right: 0;
    top: 1em;
    font-size: 14px;
}

.tagbox .tag {
    display: inline-block;
    background: rgba(83, 83, 83, 0.4);
    border-radius: 3px;
    user-select: none;
    transition: background-color 0.3s;
    text-decoration: none;
}

.tagbox .tag:hover {
    background: rgba(83, 83, 83, 0.8);
}

.tag.play {
    cursor: pointer;
}
