<div class="skill-card d-flex">
    <div class="skill-description d-flex flex-column justify-content-evenly">
        <p>{{data.name}}</p>
        <div class="progress">
            <div role="progressbar" aria-valuemin="0" aria-valuemax="1" attr.aria-valuenow="{{data.lvl}}"
                class="progress-bar" [ngStyle]="progressLvl"></div>
        </div>
        <ul class="tagbox" *ngIf="isAdmin">
            <li class="tag play" (click)="deleteSkill(data.id!)"><a type="button">
                    <span class="fa-solid fa-xmark"></span>
                </a></li>
            <li class="tag play" (click)="openForm()"><a type="button">
                    <span class="fa-solid fa-pen-to-square"></span>
                </a></li>
        </ul>
    </div>
</div>
