@media (max-width: 991.98px) {
    .navbar-nav.top-nav {
        display: none;
    }

    .offcanvas-header h4, .offcanvas-body {
        font-size: 1.5em;
    }

}

@media (min-width: 992px) {
    .argprogcr:hover  path{
        fill: #541824;
    }

    .argprogcr path {
        transition: fill 0.27s;
    }
    
    .social, .login {
        font-size: 1.5em;
    }

    .nav-item .nav-link:hover{
        color: #541824;
    }

}

header {
    background-color: white;
}

.argprogcr-t1 {
    margin: 10px 6px 0px 7px;
}

.argprogcr-t2 {
    margin-top: 11px;
}

.nav-item .nav-link {
    color: #22272e;
}


#banner {
    background-image: url('../../../assets/banner.jpg');
    background-position: center;
    background-size: cover;
    width: auto;
    height: calc(100vh - 68px);
}