<div class="skill-group" id={{groupType}}>
    <h3 class="text-center">{{groupTitle}}</h3>
    <div class="skill-card-wrapper">
        <app-skill-card *ngFor="let skill of group | slice: (currentPage-1) * pageSize : currentPage * pageSize"
            [data]=skill (deleteId)="delete($event)"
        ></app-skill-card>
    </div>
    <nav>
        <ul class="tagbox">
            <li>
                <a type="button" class="tag" (click)="onPrevious(currentPage)" [ngClass]="{'disabled': group == undefined || group.length <= 3}">PREV</a>
            </li>
            <li>
                <a type="button" class="tag" (click)="onGoBack()" [ngClass]="{'disabled': group == undefined || group.length <= 3, 'current': currentPage == 1}"><i class="fa-solid fa-circle"></i></a>
            </li>
            <li>
                <a type="button" class="tag" (click)="onNext(currentPage)" [ngClass]="{'disabled': group == undefined || group.length <= 3}">NEXT</a>
            </li>
        </ul>
    </nav>
</div>
