.skill-group {
  background-color: #e1e5ea;
  border-radius: 10px;
}

.skill-card-wrapper {
  height: 270px;
}

.tagbox {
  display: flex;
  flex-flow: row wrap;
  font-size: 14px;
  padding: 0;
  justify-content: center;
  list-style: none;
}

.tagbox .tag {
  display: inline-block;
  color: #18151f;
  background: rgba(83, 83, 83, 0.4);
  border-radius: 3px;
  padding: 2.5px 10px;
  margin: 0 5px 5px 0;
  user-select: none;
  transition: background-color 0.3s;
  text-decoration: none;
  list-style: none;
}

.tagbox .tag:hover {
  background: rgba(83, 83, 83, 0.8);
}