<div class="card" (click)="openModal()">
    <div class="card-header text-center">
        <img src={{cardImg}} alt={{cardTitle}} class="card-img-top">
    </div>
    <div class="card-body">
        <h3 class="card-title text-center">{{cardTitle}}</h3>
        <p class="card-text card-short">{{cardShort}}</p>
        <!-- <p class="card-text card-long" [innerHTML]="cardLong"></p> -->
    </div>
    <!-- <div class="card-footer text-muted text-center"><small [innerHTML]="cardFooter"></small></div> -->
</div>