.navbar {
    padding: 0;
}

.navbar-collapse {
    top: 49px;
    background-color:whitesmoke;
    border-bottom: 1px solid #541824;
}

.navbar-nav {
    flex-direction: row;
}

.navbar-nav .nav-item {
    width: 20%;
    border-right: 1px solid rgba(34, 39, 46, 0.2);
    margin: 5px 0;
}

.navbar-nav  .nav-item:last-child {
    border: none;
}

.nav-link {
    font-family: monospace;
    color: #22272e;
    transition: color 0.27s;
    transition: background-color 0.27s;
    width: 100%;
    display: flex;
    justify-content: center;
}

.nav-link:hover {
    color:#541824;
    background-color: hsla(215, 15%, 80%, 0.2);
}