<ng-template #content let-modal>
    <div class="modal-header">
        <h5 class="modal-title" id="modal-basic-title">{{modalData.title}}</h5>
        <img src="{{modalData.img}}" alt="Sample Title">
        <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cross click')"></button>
    </div>
    <div class="modal-body">
        <p>{{modalData.description}}</p>
    </div>
    <div class="modal-footer text-muted text-center">
        <small [innerHTML]="modalData.duration"></small>
    </div>
</ng-template>

<ng-template #formodal let-modal>
    <!-- <form
    [formGroup]="form"
    (ngSubmit)="onSubmit()"
    class="m-5 needs-validation"
    id="form-modal"
    novalidate
>
    <h1 class="mb-4">Editar elemento</h1>
    <div class="mb-4">
        <label for="image-input" class="form-label">Imagen</label>
        <input
            type="text"
            formControlName="img"
            class="form-control"
            id="image-input"
            placeholder="Link de imagen"
            autocomplete="off"
            value="{{modalData.img}}"
            required
        >
        <div class="valid-feedback">
            Looks good!
        </div>
    </div>
    <div class="mb-4">
        <label for="title-input" class="form-label">Título</label>
        <input
            type="text"
            formControlName="title"
            class="form-control"
            id="title-input"
            placeholder="Título del elemento"
            autocomplete="off"
            value="{{modalData.title}}"
            required
        >
        <div class="valid-feedback">
            Looks good!
        </div>
    </div>
    <div class="mb-4">
        <label for="descri-input" class="form-label">Descripción</label>
        <textarea
            type=""
            formControlName="description"
            class="form-control"
            id="descri-input"
            placeholder="Descripción del elemento"
            autocomplete="off"
            value="{{modalData.description}}"
            required
        ></textarea>
        <div class="valid-feedback">
            Looks good!
        </div>
    </div>
    <div class="col-12">
        <button class="btn btn-primary" type="submit">Guardar cambios</button>
    </div>
</form> -->
    <!-- <app-form [data]="modalData"></app-form> -->
</ng-template>

<!-- Button trigger modal -->
<!-- <button type="button" class="btn btn-primary" (click)="open(content)">Launch demo modal</button> -->