<ng-template #content let-modal>
    <div class="modal-header">
        <h5 class="modal-title" id="modal-basic-title">{{modalData.title}}</h5>
        <img src="{{modalData.img}}" alt="Sample Title">
        <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cross click')"></button>
    </div>
    <div class="modal-body">
        <p>{{modalData.description}}</p>
    </div>
    <div class="modal-footer text-muted text-center">
        <small [innerHTML]="modalData.footer"></small>
    </div>
</ng-template>

<!-- Button trigger modal -->
<!-- <button type="button" class="btn btn-primary" (click)="open(content)">Launch demo modal</button> -->