<ng-template #content let-modal>
<!-- <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg modal-dialog-centered">
        <div class="modal-content"> -->
            <div class="modal-header">
                <h5 class="modal-title" id="modal-basic-title">Sample Title</h5>
                <img src="https://via.placeholder.com/150" alt="Sample Title">
                <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cross click')"></button>
            </div>
            <div class="modal-body">
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Inventore corporis voluptatum laborum ipsum nobis rem reiciendis, accusamus, quae eum quaerat modi mollitia laboriosam vero! Nemo repellendus eum dicta mollitia. Totam a quaerat cum quas optio illum delectus illo consequatur quod commodi aspernatur culpa eveniet doloribus omnis velit, odio voluptates rem assumenda inventore! Aperiam et aspernatur rerum labore vitae, minus cupiditate corrupti sit vel dolorem, deserunt excepturi fugiat quaerat nihil eos.</p>
            </div>
            <div class="modal-footer text-muted text-center">
                <small>&copy; Copyright 20.., Example Corporation</small>
            </div>
        <!-- </div>
    </div>
</div> -->
</ng-template>

<!-- Button trigger modal -->
<button type="button" class="btn btn-primary" (click)="open(content)">Launch demo modal</button>