button, button:focus {
    outline: none;
    box-shadow: none;
    border: none;
}

.navbar {
    padding: 0;
}

.navbar-collapse {
    top: 49px;
    background-color:whitesmoke;
    border-bottom: 1px solid #541824;
}

.navbar-nav {
    flex-direction: row;
    justify-content: space-evenly;
}

.nav-link {
    font-family: monospace;
    color: #22272e;
    transition: color 0.4s;
}

.nav-link:hover {
    color:#541824;
}