@media (max-width: 576px) {
    button, button:hover, button:focus {
        position: fixed;
        bottom: 1em;
        right: 1em;
        z-index: 999;
        background: #A93048;
        color: white;
        transition: none;
    }
}
@media (min-width: 576px){
    button, button:focus {
        background: none;
        border: none;
        transition: color 0.27s;
        transition: transform 0.27s;
    }
    
    button:hover {
        transform: scale(1.2);
        color:#541824;
    }
}

button, button:focus {
    outline: none;
    box-shadow: none;
}

.i-container {
    position: relative;
    top: 0px;
    left: 0px;
    width: 20px;
    height: 20px;
}

.i-container span {
    position: absolute;
    top:  0px;
    left: 0px;
}

.fa-circle {
    opacity: 0;
    transition: opacity 0.27s;
}

.fa-circle.on {
    opacity: 1;
}

.fa-circle-notch {
    opacity: 1;
    transition: opacity 0.5s;
}

.fa-circle-notch.on {
    opacity: 0;   
}

.fa-spin {
    --fa-animation-duration:  0.5s;
    --fa-animation-iteration-count: 1;
}