<div class="container-fluid">
  <div class="row row-cols-1 row-cols-sm-2 top-bar sticky-sm-top"> <!-- le puse sticky, probar qué onda eso -->
      <div class="col argprogcr d-flex justify-content-center justify-content-sm-start" aria-hidden="true">
          <div class="argprogcr-i align-self-center">
              <span class="fas fa-terminal"></span>
          </div>
          <div class="argprogcr-t d-flex align-self-center">
              <p>Argentina<br>programa</p>
              <p>&nbsp;- &nbsp;#YoProgramo</p>
          </div>
      </div>
      <div class="col socialm-y-login d-flex justify-content-evenly justify-content-sm-end">
              <a aria-label="Link a mi perfil de Facebook" class="socialm-l" href="#"><span aria-hidden="true" class="fab fa-facebook-square"></span></a>
              <a aria-label="Link a mi perfil de Twitter" class="socialm-l" href="#"><span aria-hidden="true" class="fab fa-twitter-square"></span></a>
              <a aria-label="Link a mi perfil de Github" class="socialm-l" href="#"><span aria-hidden="true" class="fab fa-github-square"></span></a>
              <a aria-label="Link a mi perfil de Linkedin" class="socialm-l" href="#"><span aria-hidden="true" class="fab fa-linkedin"></span></a>
              <a aria-label="Click en este botón para iniciar sesión y entrar en modo edición" class="login-btn" href="#" role="button" ><span aria-hidden="true" class="fas fa-sign-in-alt"></span></a>
      </div>
  </div>
  <header>
      <div class="row">
          <div class="col d-flex align-items-center justify-content-center" id="banner"><h1 class="d-flex display-1 banner-h">Creando...</h1></div>
      </div>
  </header>
  <hr>
  <main>
      <section class="acerca-de">
          <div class="row row-cols-1 row-cols-sm-2 justify-content-center">
              <div class="col col-sm-4">
                  <div class="am-card-t text-center">
                      <img src="https://via.placeholder.com/150" alt="Foto de perfil" class="img-thumbnail">
                      <h3>Matias Exequiel Bustamante</h3>
                      <h4>Full Stack Developer Jr.</h4>
                  </div>
              </div>
              <div class="col col-sm-4 d-flex align-items-center">
                  <div class="am-card-b">
                      <p class="lh-lg">Lorem ipsum dolor sit amet consectetur adipisicing elit. Ab facilis ipsa eligendi, quas sapiente enim aperiam? Vero aliquam laborum mollitia dolores esse et eos nihil velit, veritatis corporis dolore optio excepturi, sapiente laudantium possimus assumenda, odio sequi molestias iure commodi.</p>
                  </div>
              </div>
          </div>
      </section>
      <hr>
      <section class="experiencia">
          <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 justify-content-center">
              <div class="col d-flex justify-content-center">
                  <div class="card">
                      <div class="card-header text-center">
                          <img src="https://via.placeholder.com/150" alt="Imagen Experiencia 1" class="card-img-top">
                      </div>
                      <div class="card-body">
                          <h3 class="card-title text-center">Experiencia 1</h3>
                          <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Vel, repudiandae aliquid! Quos impedit, mollitia similique minus voluptatem cupiditate iure dignissimos.</p>
                      </div>
                  </div>
              </div>
              <div class="col d-flex justify-content-center">
                  <div class="card">
                      <div class="card-header text-center">
                          <img src="https://via.placeholder.com/150" alt="Imagen Experiencia 2" class="card-img-top">
                      </div>
                      <div class="card-body">
                          <h3 class="card-title text-center">Experiencia 2</h3>
                          <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Vel, repudiandae aliquid! Quos impedit, mollitia similique minus voluptatem cupiditate iure dignissimos.</p>
                      </div>
                  </div>
              </div>
              <div class="col d-flex justify-content-center">
                  <div class="card">
                      <div class="card-header text-center">
                          <img src="https://via.placeholder.com/150" alt="Imagen Experiencia 3" class="card-img-top">
                      </div>
                      <div class="card-body">
                          <h3 class="card-title text-center">Experiencia 3</h3>
                          <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Vel, repudiandae aliquid! Quos impedit, mollitia similique minus voluptatem cupiditate iure dignissimos.</p>
                      </div>
                  </div>
              </div>
          </div>
      </section>
      <hr>
      <section class="educacion">
          <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 justify-content-center">
              <div class="col d-flex justify-content-center">
                  <div class="card">
                      <div class="card-header text-center">
                          <img src="https://via.placeholder.com/150" alt="Imagen Educación 1" class="card-img-top">
                      </div>
                      <div class="card-body">
                          <h3 class="card-title text-center">Educación 1</h3>
                          <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Vel, repudiandae aliquid! Quos impedit, mollitia similique minus voluptatem cupiditate iure dignissimos.</p>
                      </div>
                  </div>
              </div>
              <div class="col d-flex justify-content-center">
                  <div class="card">
                      <div class="card-header text-center">
                          <img src="https://via.placeholder.com/150" alt="Imagen Educación 2" class="card-img-top">
                      </div>
                      <div class="card-body">
                          <h3 class="card-title text-center">Educación 2</h3>
                          <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Vel, repudiandae aliquid! Quos impedit, mollitia similique minus voluptatem cupiditate iure dignissimos.</p>
                      </div>
                  </div>
              </div>
              <div class="col d-flex justify-content-center">
                  <div class="card">
                      <div class="card-header text-center">
                          <img src="https://via.placeholder.com/150" alt="Imagen Educación 3" class="card-img-top">
                      </div>
                      <div class="card-body">
                          <h3 class="card-title text-center">Educación 3</h3>
                          <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Vel, repudiandae aliquid! Quos impedit, mollitia similique minus voluptatem cupiditate iure dignissimos.</p>
                      </div>
                  </div>
              </div>
          </div>
      </section>
      <hr>
      <section class="skills">
          <div class="row justify-content-center">
              <div class="col-sm-4 col-md-6">
                  <h3 class="text-center">SOFT SKILLS</h3>
                  <ul class="list">
                      <li class="list-item">Comunication skills</li>
                      <li class="list-item">Self-motivation</li>
                      <li class="list-item">Problem Solving capability</li>
                      <li class="list-item">Organized</li>
                      <li class="list-item">Fast Learner</li>
                      <li class="list-item">Teamwork</li>
                      <li class="list-item">Time management</li>
                  </ul>
              </div>
              <div class="col-sm-4 col-md-6">
                  <h3 class="text-center">HARD SKILLS</h3>
                  <ul class="fa-ul">
                      <li><span class="fab fa-html5 fa-li"></span>HTML 5</li>
                      <li><span class="fab fa-css3-alt fa-li"></span>CSS3</li>
                      <li><span class="fab fa-bootstrap fa-li"></span>Bootstrap</li>
                      <li><span class="fab fa-js fa-li"></span>JavaScript</li>
                      <li><span class="fab fa-angular fa-li"></span>Angular</li>
                  </ul>
              </div>
          </div>
      </section>
      <hr>
      <section class="proyectos">
          <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 justify-content-center">
              <div class="col d-flex justify-content-center">
                  <div class="card">
                      <div class="card-header text-center">
                          <img src="https://via.placeholder.com/150" alt="Imagen Proyecto 1" class="card-img-top">
                      </div>
                      <div class="card-body">
                          <h3 class="card-title text-center">Proyecto 1</h3>
                          <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Vel, repudiandae aliquid! Quos impedit, mollitia similique minus voluptatem cupiditate iure dignissimos.</p>
                      </div>
                  </div>
              </div>
              <div class="col d-flex justify-content-center">
                  <div class="card">
                      <div class="card-header text-center">
                          <img src="https://via.placeholder.com/150" alt="Imagen Proyecto 2" class="card-img-top">
                      </div>
                      <div class="card-body">
                          <h3 class="card-title text-center">Proyecto 2</h3>
                          <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Vel, repudiandae aliquid! Quos impedit, mollitia similique minus voluptatem cupiditate iure dignissimos.</p>
                      </div>
                  </div>
              </div>
              <div class="col d-flex justify-content-center">
                  <div class="card">
                      <div class="card-header text-center">
                          <img src="https://via.placeholder.com/150" alt="Imagen Proyecto 3" class="card-img-top">
                      </div>
                      <div class="card-body">
                          <h3 class="card-title text-center">Proyecto 3</h3>
                          <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Vel, repudiandae aliquid! Quos impedit, mollitia similique minus voluptatem cupiditate iure dignissimos.</p>
                      </div>
                  </div>
              </div>
          </div>
      </section>
  </main>
</div>

<router-outlet></router-outlet>
