<button
    class="navbar-toggler"
    type="button"
    data-bs-toggle="collapse"
    data-bs-target="#navbar"
    aria-controls="navbar"
    aria-expanded="false"
    aria-label="Toggle navigation"
    (click)="switchOnAndOff()"
    >
    <div class="i-container">
        <span
        [class.on]="switchState"
        class="fa-solid fa-circle"></span>
        <span
        [class.on]="switchState"
        [class.fa-spin]="switchState"
        class="fa-solid fa-circle-notch"
        ></span>
    </div>
</button>