<div class="container-fluid">
    <div class="center">
        <form
            [formGroup]="form"
            (ngSubmit)="onSubmit(false)"
            class="m-5"
            id="formcss"
        >
            <h2 class="login-title mb-4">Inicia sesión</h2>
            <div class="input-wrp mb-4">
                <label for="exampleInputEmail1" class="form-label">Dirección de email</label>
                <input
                    type="email"
                    formControlName="email"
                    [ngClass]="{'is-invalid': isInvalidField('email'), 'is-empty' : isEmptyField('email')}"
                    class="form-control"
                    id="exampleInputEmail1"
                    placeholder="Email"
                    autocomplete="email"
                />
                <span class="input-dec" data-symbol="&#xf206;"></span>
                <div class="input-val" *ngIf="isInvalidField('email')">
                    <p *ngIf="email?.hasError('required')" class="text-danger">
                        El email es requerido.
                    </p>
                    <p *ngIf="email?.hasError('pattern')" class="text-danger">
                        El formato del email debe ser válido.
                    </p>
                </div>
            </div>
            <div class="input-wrp mb-4">
                <label for="exampleInputPassword1" class="form-label">Contraseña</label>
                <input
                    [type]="!showPassword ? 'password' : 'text'"
                    formControlName="password"
                    [ngClass]="{'is-invalid': isInvalidField('password'), 'is-empty' : isEmptyField('password')}"
                    class="form-control"
                    id="exampleInputPassword1"
                    placeholder="Contraseña"
                    autocomplete="current-password"
                />
                <span class="input-dec" data-symbol="&#xf190;">
                    <span class="zmdi"[ngClass]="{'zmdi-eye': !showPassword, 'zmdi-eye-off': showPassword}" (click)="showPass()"></span>
                </span>
                <div class="input-val" *ngIf="isInvalidField('password')">
                    <p *ngIf="password?.hasError('required')" class="text-danger">
                        La contraseña es requerida.
                    </p>
                    <p *ngIf="password?.hasError('minlength')" class="text-danger">
                        La contraseña debe tener 8 o más caracteres.
                    </p>
                </div>
            </div>
            <div class="button-wrp mt-5">
                <button type="submit" class="btn btn-primary" [disabled]="form.invalid">Enviar</button>
            </div>
            <span class="d-block text-center my-4 text-muted">--—————— o ——————--</span>
            <div class="button-wrp">
                <a *ngIf="!isLoggedIn" type="button" class="guest-btn btn btn-primary" (click)="onSubmit(true)">Navega como invitado</a>
                <a *ngIf="isLoggedIn" type="button" class="guest-btn btn btn-primary" href="/portfolio">Volver al portfolio</a>
            </div>
        </form>
    </div>
</div>