<section id={{convertToValid(sectionTitle)}} [ngClass]="{'dark': typeId==1, 'light': typeId==2}">
    <div class="container-lg py-4">
        <div class="title-section">
            <button *ngIf="isAdmin"><i class="fa-solid fa-plus" (click)="createBackground(typeId)"></i></button>
            <h2 class="h2 text-center title">{{sectionTitle}}</h2>
        </div>
        <app-background-card *ngFor="let background of backgroundList; index as i" [type]=convertToValid(sectionTitle)
            [data]=background (deleteId)="deleteBackground($event)" [odd]="i%2!=0" [id]="i"></app-background-card>
    </div>
</section>
