<section id="sobre-mi">
    <div class="container">
        <div class="row row-cols-1 row-cols-sm-2 justify-content-center">
            <div class="col col-sm-4">
                <div class="text-center">
                    <img src="https://via.placeholder.com/150" alt="Foto de perfil" class="img-thumbnail">
                    <h3>{{fullname}}</h3>
                    <h4>{{occupation}}</h4>
                </div>
            </div>
            <div class="col col-sm-4 d-flex align-items-center">
                <div>
                    <p class="lh-lg">{{description}}</p>
                </div>
            </div>
        </div>
    </div>
</section>
