<section id="sobre-mi" class="dark">
    <div class="container-lg py-5 px-custom">
        <div class="row g-5 d-flex align-items-center">
            <div class="col col-md-6">
                <div class="about-photo">
                    <img src={{data.image}} alt="{{data.name + ' ' + data.surname}}" class="ap-inner">
                </div>
            </div>
            <div class="col col-12 col-md-6">
                <div class="text-break">
                    <h4 class="fw-light">{{data.occupation}}</h4>
                    <h1>{{data.name + ' ' + data.surname}}</h1>
                    <p>{{data.about}}</p>
                </div>
                <ul class="tagbox">
                    <li *ngIf="isAdmin" class="tag play" (click)="openForm()">
                        <a type="button"><i class="fa-solid fa-pen-to-square"></i>&nbsp;&nbsp;Editar</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</section>