.dark {
    background: #110f16;
    color: white;
}

h1 {
    color: var(--main-accent-color);
}

.about-photo {
    display: block;
    position: relative;
    width: 100%;
    min-height: calc(80vh - 20px);
    background-color: var(--light-gray-color);
    overflow: hidden;
}

.about-photo .ap-inner {
    background-image: url(https://via.placeholder.com/600x600/303030.com);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: block;
    position: absolute;
    top: -1.125em;
    bottom: -1.125em;
    left: -1.125em;
    right: -1.125em;
}

.tagbox {
    display: flex;
    flex-flow: row wrap;
    font-size: 14px;
    padding: 0;
    justify-content: center;
}

.tagbox .tag {
    display: inline-block;
    background: rgba(83, 83, 83, 0.4);
    border-radius: 3px;
    padding: 2.5px 10px;
    margin: 0 5px 5px 0;
    user-select: none;
    transition: background-color 0.3s;
    text-decoration: none;
}

.tagbox .tag:hover {
    background: rgba(83, 83, 83, 0.8);
}