@media (min-width: 768px) {
    .about-photo .ap-inner {
        height: calc(80vh - 20px);
        width: 100%;
        object-fit: cover;
        object-position: center;
        position: relative;
    }
}

@media (max-width: 767.98px) {
    .about-photo .ap-inner {
        height: calc(60vh - 20px);
        width: 100%;
        object-fit: cover;
        object-position: center;
        position: relative;
    }
}

.dark {
    background: #110f16;
    color: white;
}

h1 {
    color: var(--main-accent-color);
}

.about-photo {
    display: contents;
}

.tagbox {
    display: flex;
    flex-flow: row wrap;
    font-size: 14px;
    padding: 0;
    justify-content: center;
}

.tagbox .tag {
    display: inline-block;
    background: rgba(83, 83, 83, 0.4);
    border-radius: 3px;
    padding: 2.5px 10px;
    margin: 0 5px 5px 0;
    user-select: none;
    transition: background-color 0.3s;
    text-decoration: none;
}

.tagbox .tag:hover {
    background: rgba(83, 83, 83, 0.8);
}

.tag.play {
    cursor: pointer;
}