<section id="habilidades">
    <div class="container">
        <div class="row">
            <app-skill-group [group]="hard" [groupType]="'hard'" [groupTitle]="'Hard Skills'" class="col"></app-skill-group>
            <app-skill-group [group]="soft" [groupType]="'soft'" [groupTitle]="'Soft Skills'" class="col"></app-skill-group>
        </div>
        <div class="row">
            <app-skill-group [group]="lang" [groupType]="'lang'" [groupTitle]="'Lenguas'" class="col"></app-skill-group>
            <app-skill-group [group]="proglang" [groupType]="'proglang'" [groupTitle]="'Programación'" class="col"></app-skill-group>
        </div>
    </div>
</section>