<section class="light" id="habilidades">
    <div class="container-lg py-5 px-custom">
        <div class="title-section">
            <h2 class="text-center title">Habilidades</h2>
            <a *ngIf="isAdmin" type="button" class="tag-plus" (click)="createSkill()"><i
                class="fa-solid fa-plus"></i></a>
        </div>
        <div class="row row-cols-1 row-cols-lg-2 g-5 mb-5">
            <app-skill-group (deleteId)="deleteSkill($event)" [group]="hard" [groupType]="'hard'"
                [groupTitle]="'Hard Skills'" class="col"></app-skill-group>
            <app-skill-group (deleteId)="deleteSkill($event)" [group]="soft" [groupType]="'soft'"
                [groupTitle]="'Soft Skills'" class="col"></app-skill-group>
        </div>
        <div class="row row-cols-1 row-cols-lg-2 gx-5">
            <app-skill-group (deleteId)="deleteSkill($event)" [group]="lang" [groupType]="'lang'"
                [groupTitle]="'Lenguas'" class="col"></app-skill-group>
            <app-skill-group (deleteId)="deleteSkill($event)" [group]="proglang" [groupType]="'proglang'"
                [groupTitle]="'Programación'" class="col"></app-skill-group>
        </div>
    </div>
</section>