body {
  font-size: 16px;
  text-rendering: optimizeLegibility;
  font-weight: initial;
}

.light {
  background: #f3f5f7;
  color: black;
}

.title-section {
  position: relative;
}

.title {
  margin-bottom: 3rem;
  text-transform: uppercase;
  text-align: center;
  font-size: 2.5rem;
}

.tag-plus {
  font-size: 2rem;
  background: rgba(83, 83, 83, 0.4);
  border-radius: 3px;
  padding: 0px 10px;
  transition: background-color 0.3s;
  position: absolute;
  top: 0;
  left: 0;
  color: inherit;
  text-decoration: none;
}

.tag-plus:hover {
  background: rgba(83, 83, 83, 0.8);
}
