#banner {
    background: linear-gradient(to top left,#541824, #FE496D);
    width: 1600px;
    height: 500px;
}

.banner-h { /* Cambiar este h1 a otra cosa para accesibilidad luego.*/
    font-family: monospace;
    color: white;
}

.card-b p, .card p {
    text-align: justify;
}

@media (min-width: 576px){
    .card {
        width: 300px;
    }
}

/* .card {
    width: 300px;
} */

.card img {
    width: auto;
    /* tex: center; */
}