:root {
    --main-dominant-color: #0f1634; /*Un deep blue bonito*/
    --main-accent-color: #A01D5D; /*Un color pseudovino iluminadito*/
    --dark-gray-color: #22272e; /*Un color gris oscuro que saqué de git*/
    --light-gray-color: #adadad; /*Un color gris claro que saqué del templ*/
    overflow-x: hidden;
}

body.modal-open {
    padding-right: 0px !important;
    overflow: visible !important;
}

::-webkit-scrollbar {
    width: 10px;
    height: 10px;
}

::-webkit-scrollbar-thumb {
    background-color: var(--main-accent-color);
    border-radius: 10px;
}

::-webkit-scrollbar-track {
    background-color: rgba(0, 0, 0, 0.1);
    border-radius: 10px 10px 0px 0px;
}