<div class="d-flex flex-column card-wrp">
    <div class="card">
        <div class="card-header text-center">
            <img src={{img}} alt={{data.title}} class="card-img-top">
        </div>
        <div class="card-body">
            <h3 class="card-title text-center">{{data.title}}</h3>
            <p class="card-text card-short">{{data.description}}</p>
        </div>
    </div>
    <a *ngIf="isAdmin" type="button" class="cross" (click)="deleteBackground(data.id!)">
        <span class="fa-solid fa-xmark"></span>
    </a>
    <a *ngIf="isAdmin" type="button" class="pen" (click)="openForm(data)">
        <span class="fa-solid fa-pen-to-square"></span>
    </a>
</div>